.register {
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    flex: 1;
    margin-bottom: 20px;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .inp {
            margin-top: 20px;
        }
        button {
            margin-top: 20px;
        }
    }
}