.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(
    0deg,
    hsl(193deg 100% 50%) 10%,
    hsl(203deg 100% 50%) 66%,
    hsl(217deg 100% 50%) 100%
    );
}